.container-activity_page {
  min-height: calc(100vh - 3.6rem);
  background-color: rgba(0, 192, 132, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-activity_page {
  margin: 0;
  border: 1px black solid;
}

.grid-activity_page .col {
  border: 1px black solid;
}

.activity_options {
  min-height: 50vh;
}

.dino-mino__activitypage {
  max-width: 300px;
  margin-left: 3rem;
}
