.container-activity_page {
  min-height: calc(100vh - 3.6rem);
  background-color: rgba(0, 192, 132, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#container--activity_page {
  width: 90vw;
  height: 90vh;
}

.left-column {
  height: 100%;
}

.first-row--activity_page {
  height: 66.67%;
}

.second-row--activity_page {
  height: 30%;
}

.right-column--activity_page {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary {
  height: 100%;
  background-color: #ccc
}

.dino-mino--activity_page {
  max-width: 250px;
  margin-left: 3rem;
  filter: drop-shadow(1px 10px 1px rgba(93, 27, 27, 0.4));
}

.faq--activity_page {
  background-color: '#ccc';
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.faq--activity_page img {
  width: 4rem;
}

.faq--activity_page img:hover {
  transform: scale(1.1);
}
