.container__menu_page {
  min-height: calc(100vh - 3.6rem);
  background-image: url(/img/bg1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 4rem;
}

.grid-menu_page {
  margin: auto;
}

.container__menu_page h1 {
  margin: 2%;
  margin-bottom: 0;
  margin-left: 15%;
  width: 100%;
}

.dino-mino__menupage {
  max-width: 300px;
  margin-left: 5rem;
  align-self: flex-end;
}

.faq-menupage {
  max-width: 100px;
}

.faq-menupage:hover {
  transform: scale(1.5);
}

.main_menu {
  max-height: 40vh;
  aspect-ratio: 1/1;
  padding-left: 8%;
  border-radius: 50%;
  background-color: rgba(204, 254, 255, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.main_menu img {
  max-width: 12rem;
  padding: 1rem;
}

.main_menu img:hover {
  transform: scale(1.5);
}

@media (max-width: 500px) {
  .main_menu img {
    max-width: 8rem;
  }

  .dino-mino__menupage {
    max-width: 200px;
    margin: auto;
  }

  .container__menu_page h1 {
    font-size: 2rem;
  }

  .faq-menupage {
    max-width: 80px;
  }

  .grid-menu_page {
    padding-top: 100px;
  }
}
