.container__menu_page {
  min-height: calc(100vh - 3.6rem);
  background-image: url(/img/bg1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 4rem;
}

.container__menu_page h1 {
  margin: 2%;
  margin-bottom: 0;
  margin-left: 15%;
  width: 100%;
}

.dino-mino__menupage {
  max-width: 300px;
  margin-left: 5rem;
  align-self: flex-end;
}

.faq-menupage {
  max-width: 100px;
}

.faq-menupage:hover {
  transform: scale(1.5);
}

.main_menu {
  width: 35rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255, 242, 204, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.menu_icon--one-two {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-content: center;
  gap: 1.5rem;

}

.main_menu img {
  max-width: 12rem;
  padding: 1rem;
}

.main_menu img:hover {
  transform: scale(1.5);
}

@media (max-width: 800px) {
  .main_menu img {
    max-width: 5rem;
  }

  .dino-mino__menupage {
    max-width: 150px;
    margin: auto;
  }

  .container__menu_page h1 {
    font-size: 1.5rem;
  }

  .faq-menupage {
    max-width: 80px;
  }

  .main_menu {
    gap: 0;
  }
}
