.container__planner_page {
  background-color: lavenderblush;
  min-height: calc(100vh - 3.6rem);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.planner_page_action_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0 2rem 0 2rem;
}

.planner_days {
  padding: 2rem;
  padding-top: 1rem;
  width: 95%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: space-between; */
}

.planner_page_action_container img {
  max-width: 60px;
}
