.days_months {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 95%;
  font-family: 'Andika', sans-serif;
  padding: 0.5rem;

  justify-content: center;
  align-items: center;
}

.days_months h2 {
  margin-top: 1rem;
  font-size: 1.8rem;

}

.year_wheel {
  display: flex;
  justify-content: center;
}

.year_wheel img {
  width: 70%;
}

.year_wheel_img:hover {
  transform: rotate(180deg);
}
