.info-tutorial {
  display: flex;
  width: 90%;
  max-height: 80vh;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.info-tutorial img {
  width: 400px;
  height: 400px;
  justify-content: space-between;
  border-radius: 50px;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  .info-tutorial img {
    width: 300px;
    height: 300px;
  }
}
