header {
  margin: 0;
  height: 2.5rem;
  background-color: rgb(204, 254, 255);
  opacity: 80%;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 90%;
  margin: auto;
  margin-left: 35px;
  margin-right: 35px;
}
