header {
  margin: 0;
  height: 2.5rem;
  background-color: #fff2ccff;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 90%;
  margin: auto;
  margin-left: 35px;
  margin-right: 35px;
}
