.christmas_tree button {
  background-color: transparent;
  border: 0;

}

.christmas_tree button h3 {
  text-align: center;
  margin: auto;
}

.empty {
  width: 50px;
  height: 50px;
}

.filled {
  margin-left: 0.2rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.filled:hover {
  transform: scale(2, 2);
}

.filled h3 {
  font-size: 2rem;
  margin: auto;
  margin-top: 1rem;
  color: #4B0082;
}

.filledB {
  background-image: url(/img/xmas/xmasDec1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.star {
  width: 50px;
  height: 50px;
  overflow: visible;
  background-image: url(/img/xmas/xmasStar.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.star h3 {
  margin: auto;
  color: #4B0082
    /* margin-top: 1.5rem; */
}

.shake_it_baby {
  animation: horizontal-shaking 300ms 30;
  background-color: #A8A8A8;
}


@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}
