.box {
  font-family: 'Russo One', sans-serif;
  color: #4B0082;
  background-color: #f8e7c5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.days-box {
  width: 460px;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  box-shadow: 10px 10px 15px #bbb;
}

.day-box:hover {
  font-size: 3rem;
  /* animation: horizontal-shaking 300ms 30;
  background-color: #A8A8A8;
  color: #000; */
}

.day-box {
  border-radius: 10px;
  margin: 0;
  border: 2px solid #fff;
}

.day-box p {
  margin: 3px;
  padding: 5px;
  transition: 0.4s ease;
}

.monday {
  background-color: #fdd426;
}

.tuesday {
  background-color: #efe720;
}

.wednesday {
  background-color: #eb4f74;
}

.thursday {
  background-color: #f7eacd;
}

.friday {
  background-color: #a8e0b8;
}

.saturday {
  background-color: #ced75b;
}

.sunday {
  background-color: #ffc0f9;

}


.wrong-answer {
  animation: horizontal-shaking 300ms 30;
  background-color: #A8A8A8;
  color: #000;
}

/* @keyframes ring {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(3deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
} */
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}
