@import url('https://fonts.googleapis.com/css2?family=Andika&family=Russo+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Andika', sans-serif;
  font-family: 'Russo One', sans-serif;
}

body {
  min-height: 100vh;
}
