.container-main__page {
  min-height: calc(100vh - 4rem);
  background-image: url(/img/bg1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main__page {
  text-align: center;
}

.title {
  font-size: 4rem;
  padding: 40px;
}

input {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  line-height: 50px;
  margin: 30px;
  font-size: 2rem;
  color: #4B0082;
  text-align: center;
}


.dino-mino__main-page {
  width: 20rem;

}

.question-name {
  font-size: 2rem;
  margin: 20px;
}

.dino-foot {
  gap: 70px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 860px;
}

.foot-print__main-page {
  width: 15rem;
  /* filter: drop-shadow(15px 15px 15px rgba(60, 28, 28, 0.4)); */
  filter: drop-shadow(15px 15px 1px rgba(60, 28, 28, 0.4));
}

/* .foot-print__main-page:hover {
 
} */

.foot-print__main-page {
  margin: 70px;
}
